# Ejercicios Pair Programming 
## Lecci칩n 10 - EDA I

Empezamos una nueva lecci칩n, y este es el momento de poner en pr치ctica los conocimientos adquiridos del An치lisis Exploratorio de Datos. Si recordamos, en la lecciones de Pandas estuvimos usando un dataset sobre ataques de tiburones, y que hicimos algunos cambios a lo largo de los ejercicios, incluimos filas, columnas e incluso limpiamos algunas colummas 游눩游낗! Para todas los ejercicios de pair programming de EDA I y II usaremos el dataframe generado en el ejercicio de Pandas VII.

En el ejercicio de hoy nos familiarizaremos con el dataset completo sobre el que trabajaremos en la parte de limpieza.

Pero para hacer una exploraci칩n buena del dataset no lo podemos hacer como pollo sin cabeza a ver que nos encontramos. Necesitamos hacernos una serie de preguntas o hip칩tesis que queramos contestar. En este caso os plantemos las siguientes preguntas a contestar a lo largo de los ejercicios de pair programming de este m칩dulo:

### Hip칩tesis

Las hip칩tesis que os planteamos son:
- 쮼s Australia el sitio m치s peligroso y letal para estar relajada en la playa?
- 쮿ay diferencias entre los pa칤ses en los ataques a hombres y mujeres?
- 쮺u치les son las edades que m치s sufren ataques?
- Independientemente de la edad, 쯥ufren los hombres m치s ataques que las mujeres?
- 쮼n qu칠 mes ocurren m치s ataques?
- 쮺u치l es la relaci칩n entre la especie y el tipo de ataque (si es fatal o no)?
- 쮺칩mo han evolucionado los ataques a lo largo del tiempo?

In [1]:
import pandas as pd

In [2]:
pd.options.display.max_columns = None

In [3]:
df = pd.read_csv("attacks4.csv", index_col = 0)

In [4]:
df.head(2)

,case_number,year,type,country,area,location,activity,name,age,time,species_,href,siglo,unnamed:_0,injury,mes,fatal,sex
0,2018.06.25,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,57,18h00,White shark,http://sharkattackfile.net/spreadsheets/pdf_di...,siglo-XXI,0,"No injury to occupant, outrigger canoe and pad...",Jun,N,F
1,2018.06.03.a,2018.0,Unprovoked,BRAZIL,Pernambuco,"Piedade Beach, Recife",Swimming,Jose Ernesto da Silva,18,Late afternoon,Tiger shark,http://sharkattackfile.net/spreadsheets/pdf_di...,siglo-XXI,6,FATAL,Jun,Y,M

### Objetivos

Los objetivos de hoy son:
1. Haced una exploraci칩n inicial del dataframe:

- 쮺u치l es el n칰mero de filas y columnas?

In [5]:
print(f"El n칰mero de filas de nuestro DataFrame es {df.shape[0]} y el n칰mero de columnas es {df.shape[1]}")

El n칰mero de filas de nuestro DataFrame es 1672 y el n칰mero de columnas es 18

- 쮺u치l es el porcentaje de valores nulos en cada columna? Presenta los resultados en un dataframe, donde las columnas sean el nombre de las variables y el porcentaje de nulos.

In [6]:
df_porcentaje = pd.DataFrame(df.isnull().sum()*100/df.shape[0]).T
df_porcentaje

,case_number,year,type,country,area,location,activity,name,age,time,species_,href,siglo,unnamed:_0,injury,mes,fatal,sex
0,0.0,0.0,0.0,0.598086,2.751196,3.050239,1.854067,0.538278,9.210526,9.569378,7.535885,0.0,0.0,0.0,0.478469,13.038278,5.801435,0.897129

- 쯈u칠 tipos de datos hay en cada columna?

In [7]:
df.dtypes

case_number     object
year           float64
type            object
country         object
area            object
location        object
activity        object
name            object
age             object
time            object
species_        object
href            object
siglo           object
unnamed:_0       int64
injury          object
mes             object
fatal           object
sex             object
dtype: object

- Extraed la informaci칩n general del dataframe.

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1672 entries, 0 to 1671
Data columns (total 18 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   case_number  1672 non-null   object
 1   year         1672 non-null   float64
 2   type         1672 non-null   object
 3   country      1662 non-null   object
 4   area         1626 non-null   object
 5   location     1621 non-null   object
 6   activity     1641 non-null   object
 7   name         1663 non-null   object
 8   age          1518 non-null   object
 9   time         1512 non-null   object
 10  species_     1546 non-null   object
 11  href         1672 non-null   object
 12  siglo        1672 non-null   object
 13  unnamed:_0   1672 non-null   int64
 14  injury       1664 non-null   object
 15  mes          1454 non-null   object
 16  fatal        1575 non-null   object
 17  sex          1657 non-null   object
dtypes: float64(1), int64(1), object(16)
memory usage: 248.2+ KB

2. Cread dos dataframes nuevos, uno que incluya solo las variables categ칩ricas y otro que incluya solo las variables num칠ricas.

In [24]:
df_categoricas = pd.DataFrame(df.describe(include = "object"))
df_categoricas

,case_number,type,country,area,location,activity,name,age,time,species_,href,siglo,injury,mes,fatal,sex
count,1672,1672,1662,1626,1621,1641,1663,1518,1512,1546,1672,1672,1664,1454,1575,1657
unique,1672,6,95,236,1310,404,1536,94,248,856,1672,2,1173,12,2,2
top,2018.06.25,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,male,19,11h00,White shark,http://sharkattackfile.net/spreadsheets/pdf_di...,siglo-XX,FATAL,Aug,N,M
freq,1,1432,741,346,73,426,97,70,74,76,1,887,154,153,1258,1435

In [10]:
df_numericas = pd.DataFrame(df.describe()).T
df_numericas

,count,mean,std,min,25%,50%,75%,max
year,1672.0,1832.688397,528.969901,0.0,1964.00,1997.0,2008.0,2018.0
unnamed:_0,1672.0,2574.174043,1756.622536,0.0,1218.25,2210.0,3687.5,6285.0

- 쮺u치les son los principales est치disticos de los dataframes?

De las variables num칠ricas s칩lo tenemos la columna 'year', y sus principales estad칤sticos tienen un valor de:
- Hay un total de 1672 filas.
- La media es de 1832,68 a침os.
- La desviaci칩n est치ndar es de 528,96 con respecto a la media.
- El a침o menor es el 0 y el a침o mayor es el 2018.
- El cuartil 1 es el a침o 1964 (el 25 % de los datos es inferior a 1964)
- El cuartil 2 o mediana es el a침o 1997.
- El cuartil 3 es el a침o 2008.

De las variables categ칩ricas tenemos el resto de las columnas y sus principales estad칤sticos son:
- N칰mero total de filas.
- Los valores 칰nicos de cada columna.
- Top, que es la moda, valor que m치s se repite.
- Y la frecuencia de dicho top.

- Extraed los valores 칰nicos su frecuencia. BONUS presenta los resultados en un dataframe.

Donde variable es cada una de las variables categ칩ricas que tenemos en el dataset y n_unicos es una lista con los nombres de los valores 칰nicos de cada variable.

In [17]:
#frecuencia
for col in df_categoricas.columns:
    print("--------------")
    print(f"En la columna '{col}' tenemos los siguientes valores:")
    print(pd.DataFrame(df_categoricas[col].value_counts()))
    print("--------------")

--------------
En la columna 'count' tenemos los siguientes valores:
      count
1672      4
1662      1
1626      1
1621      1
1641      1
1663      1
1518      1
1512      1
1546      1
1664      1
1454      1
1575      1
1657      1
--------------
--------------
En la columna 'unique' tenemos los siguientes valores:
      unique
2          3
1672       2
6          1
95         1
236        1
1310       1
404        1
1536       1
94         1
248        1
856        1
1173       1
12         1
--------------
--------------
En la columna 'top' tenemos los siguientes valores:
                                                    top
2018.06.25                                            1
Unprovoked                                            1
USA                                                   1
Florida                                               1
New Smyrna Beach, Volusia County                      1
Surfing                                               1
male                                                  1
19                                                    1
11h00                                                 1
White shark                                           1
http://sharkattackfile.net/spreadsheets/pdf_dir...    1
siglo-XX                                              1
FATAL                                                 1
Aug                                                   1
N                                                     1
M                                                     1
--------------
--------------
En la columna 'freq' tenemos los siguientes valores:
      freq
1        2
1432     1
741      1
346      1
73       1
426      1
97       1
70       1
74       1
76       1
887      1
154      1
153      1
1258     1
1435     1
--------------

In [19]:
df_categoricas.index

Index(['case_number', 'type', 'country', 'area', 'location', 'activity',
       'name', 'age', 'time', 'species_', 'href', 'siglo', 'injury', 'mes',
       'fatal', 'sex'],
      dtype='object')

In [28]:
for col in df_categoricas.columns:
    print("--------------")
    print(col)
    print(df[col].unique())
    print("--------------")

--------------
case_number
['2018.06.25' '2018.06.03.a' '2018.05.26.b' ... 'ND.0003' 'ND.0002'
 'ND.0001']
--------------

NameError: name 'df_bonus' is not defined

In [14]:
#df_frecuencia = pd.DataFrame()
for col in df_categoricas.columns:
    print(df_categoricas.index)
    print(df_categoricas[col].unique())
    print(df_categoricas[col].value_counts())
    print("--------------")

Index(['case_number', 'type', 'country', 'area', 'location', 'activity',
       'name', 'age', 'time', 'species_', 'href', 'siglo', 'injury', 'mes',
       'fatal', 'sex'],
      dtype='object')
[1672 1662 1626 1621 1641 1663 1518 1512 1546 1664 1454 1575 1657]
1672    4
1662    1
1626    1
1621    1
1641    1
1663    1
1518    1
1512    1
1546    1
1664    1
1454    1
1575    1
1657    1
Name: count, dtype: int64
--------------
Index(['case_number', 'type', 'country', 'area', 'location', 'activity',
       'name', 'age', 'time', 'species_', 'href', 'siglo', 'injury', 'mes',
       'fatal', 'sex'],
      dtype='object')
[1672 6 95 236 1310 404 1536 94 248 856 2 1173 12]
2       3
1672    2
6       1
95      1
236     1
1310    1
404     1
1536    1
94      1
248     1
856     1
1173    1
12      1
Name: unique, dtype: int64
--------------
Index(['case_number', 'type', 'country', 'area', 'location', 'activity',
       'name', 'age', 'time', 'species_', 'href', 'siglo', 'injury', 'mes',
       'fatal', 'sex'],
      dtype='object')
['2018.06.25' 'Unprovoked' 'USA' 'Florida'
 'New Smyrna Beach, Volusia County' 'Surfing' 'male' '19' '11h00'
 'White shark'
 'http://sharkattackfile.net/spreadsheets/pdf_directory/2018.06.25-Wolfe.pdf'
 'siglo-XX' 'FATAL' 'Aug' 'N' 'M']
2018.06.25                                                                    1
Unprovoked                                                                    1
USA                                                                           1
Florida                                                                       1
New Smyrna Beach, Volusia County                                              1
Surfing                                                                       1
male                                                                          1
19                                                                            1
11h00                                                                         1
White shark                                                                   1
http://sharkattackfile.net/spreadsheets/pdf_directory/2018.06.25-Wolfe.pdf    1
siglo-XX                                                                      1
FATAL                                                                         1
Aug                                                                           1
N                                                                             1
M                                                                             1
Name: top, dtype: int64
--------------
Index(['case_number', 'type', 'country', 'area', 'location', 'activity',
       'name', 'age', 'time', 'species_', 'href', 'siglo', 'injury', 'mes',
       'fatal', 'sex'],
      dtype='object')
[1 1432 741 346 73 426 97 70 74 76 887 154 153 1258 1435]
1       2
1432    1
741     1
346     1
73      1
426     1
97      1
70      1
74      1
76      1
887     1
154     1
153     1
1258    1
1435    1
Name: freq, dtype: int64
--------------

### Conclusiones

De qu칠 nos sirven estos n칰meros y dataframe? Extraed conclusiones de ellos.

Por ejemplo:
- 쮿ay alguna columna que no tenga sentido su tipo de datos?

- 쮿ay alguna columna que no tenga sentido su contenido?

- 쮿ay alguna columna que tenga demasiadas categor칤as o valores que nos pueda hacer dif칤cil trabajar con ella?

Happy coding 游붇