# Pair Programming 
## Lecci√≥n 11 - Limpieza II - Strings
‚Äã
Antes de seguir, recordamos las preguntas que nos planteamos al principio del _pair programming_** de EDA para dirigir nuestro an√°lisis.**

- ¬øEs Australia es el sitio m√°s peligroso y letal para estar relajada en la playa?
- ¬øCu√°l es el rango de edad que sufre la mayor√≠a de los ataques?
- Independientemente de la edad, sufren los hombres m√°s ataques que las mujeres?
- ¬øEn qu√© mes ocurren m√°s ataques?
- ¬øCu√°l es la relaci√≥n entre la especie y el tipo de ataque (si es fatal o no)?
- ¬øC√≥mo han evolucionado los ataques a lo largo del tiempo?

De todo esto, nos damos cuenta que solo tenemos que limpiar algunas de las columnas, en concreto age, species, country, fatal, year, sex. Si reducimos esto a una tabla para saber que tenemos ya limpito y que no. **Actualizamos esta tabla ya que en el ejercicio de pair de Limpieza I ya dejamos algunas columnas limpitas:

variable    ¬øEst√° limpia?

age         ‚ùå esta en formato string cuando deber√≠a ser integer y en algunos casos tenemos rangos de edad

species     ‚ùå es un jaleo! Debemos unificar los nombres y reducir a las especies m√°s importantes

country     ‚úîÔ∏è los paises est√°n en may√∫sculas, algunos se repiten con algunos cambios

fatal       ‚úîÔ∏è la limpiamos en el pair de Pandas V

year        ‚úîÔ∏è es una columna de tipo float deber√≠amos convertirla a integer

sex         ‚úîÔ∏è la limpiamos en el pair de Pandas V

fecha       ‚úîÔ∏è la limpiamos en el pair de Pandas V

Por lo tanto, en este ejercicio nos queda por limpiar las columnas de age y species, as√≠ que manos a la obra. Vamos a ver que podemos hacer para cada una de las columnas y os dejaremos algunas pistas üòâ. Para esto trabajaremos con el fichero generado en Limpieza I.

In [1]:
import pandas as pd
import numpy as np
import re

In [27]:
df = pd.read_csv("limpieza1.csv", index_col = 0)

In [28]:
df.head(2)

   year country  activity age     species_  mes fatal sex
0  2018     usa  Paddling  57  White shark  Jun     N   F
1  2018  brazil  Swimming  18  Tiger shark  Jun     Y   M

1. Columna de species: si exploramos esta columna en detalle nos podemos dar cuenta que tenemos muchos valores √∫nicos y esto hace que sea muy dif√≠cil trabajar con esta columna. Lo que vamos a hacer es clasificar los tiburones en 5 especies diferentes, las m√°s comunes, que incluyen el tibur√≥n blanco (White), el tibur√≥n tigre (Tiger ), el tibur√≥n gris (Grey), el tibur√≥n lim√≥n (Lemon) y el tibur√≥n toro (Bull). El resto de las especies las incluiremos en un √∫nico grupo que podremos llamar "Unspecified". Ahora nos podemos sentir un poco abrumadas y no saber como enfrentarnos a este reto, pero don't worry, os dejamos por aqu√≠ unas üí° pistas üí° para que os ayuden a entender c√≥mo hacerlo.

- Los valores de las columnas son strings por lo que podremos usar regex para buscar palabras clave en cada celda y asignarlo a una de las categor√≠as que hemos definido previamente.

imaginemos que el valor de una celda es el siguiente:

'White shark, 3.5 m'

tendremos que buscar el patr√≥n de regex que nos permita extraer White shark de ese string y que nos devuelva solo White shark. 

Un patr√≥n que podriamos usar es: 
patron_blanco = r".*[Ww](hite|HITE).*"

esto podr√≠a ser as√≠ porque puede estar en may√∫sculas o en min√∫sculas. 
‚Äã
de la misma forma que hemos sacado el patron para el tibur√≥n blanco, tendremos que sacar los patrones para las otras 4 especies que queremos "encontrar". 

- Tendremos que crearnos una funci√≥n que aplicaremos sobre nuestra columna species para que nos devuelva una nueva columna con los valores clasificados en funci√≥n de los patrones de regex que hayamos definido.

In [4]:
df["species_"].isnull().sum()

123

In [36]:
def especie_tiburon(string_especie):
    patron_blanco = "^white|White\s\w+"
    patron_tigre = "^tiger|Tiger\s\w+"
    patron_gris = "^grey|Grey\s\w+"
    patron_lemon = "^lemon|Lemon\s\w+"
    patron_toro = "^bull|Bull\s\w+"
    #patron_blanco = r".*[Ww](hite|HITE).*"
    #patron_tigre = r".*[Tt](iger|IGER).*"
    #patron_gris = r".*[Gg](rey|REY).*"
    #patron_lemon = r".*[Ll](emon|EMON).*"
    #patron_toro = r".*[Bb](ull|ULL).*"

    try:
        if re.findall(patron_blanco, string_especie):
            return "White shark"
        elif re.findall(patron_tigre, string_especie):
            return "Tiger shark"
        elif re.findall(patron_gris, string_especie):
            return "Grey shark"
        elif re.findall(patron_lemon, string_especie):
            return "Lemon shark"
        elif re.findall(patron_toro, string_especie):
            return "Bull shark"
        else:
            return "Unspecified"
    except:
        return np.nan

In [37]:
df["especie tiburon"] = (df["species_"].apply(especie_tiburon))

In [43]:
df.sample(5)

,year,country,activity,age,species_,mes,fatal,sex,especie tiburon
947,1992,south africa,Surfing,35,>2 m shark,Apr,N,M,Unspecified
594,2004,usa,Spearfishing,34,"Tiger shark, 2.4 m to 3.7 m [8' to 12']",Oct,N,M,Tiger shark
527,2006,australia,Surfing,15,"Bronze whaler shark, a juvenile",Apr,N,M,Unspecified
868,1996,australia,Swimming breast stoke,47,Tiger shark,Mar,N,F,Tiger shark
454,2007,usa,Surfing,22,3' to 4' shark,Oct,N,M,Unspecified

2. Columna de age: es una columna de tipo string pero deber√≠a ser de tipo integer. Adem√°s, en esta columna nos vamos a encontrar con algunos errores tipogr√°ficos, estos incluyen:

- Edad en formato string
- Edades separadas por &, or, to, >
- Edades con ?

Vamos con algunas üí° pistas üí° para que os ayuden a entender c√≥mo hacerlo:
- Primero tendremos que eliminar todos esos s√≠mbolos especiales que nos aparecen. De nuevo, podremos usar regex para extraer unicamente los n√∫meros que es lo que nos interesa. Usar este regex en una funci√≥n para sacar solo los n√∫meros.
- Puede que os salga un error similar a este:

TypeError: expected string or bytes-like object

Para solucionar este problema, antes de nada tendr√©is que ejecutar este c√≥digo para que no os de error:

df['nombre_columna'] = df['nombre_columna'].astype(str)

- Una vez que hay√°is extraido los n√∫meros, os dar√©is cuenta que hay celdas que tienen m√°s de una edad. Tendr√©is que decidir que hacer en esos casos. Os dejamos por aqu√≠ una posible opci√≥n usando un m√©todo de Pandas que os puede resultar super √∫til. El m√©todo explode, .
- Por √∫ltimo cambiad el tipo de la columna de string a integer.

In [44]:
df["age"].dtype

dtype('O')

In [63]:
df["age"] = df["age"].astype(str)

In [64]:
df["age"].dtype

dtype('O')

In [77]:
def edades(edad):
    patron_age = "\d+"
    try:
        return re.findall(patron_age, str(edad))[0]
    except:
        np.nan

In [78]:
df["age_ok"] = (df["age"].apply(edades))

In [79]:
df.head()

,year,country,activity,age,species_,mes,fatal,sex,especie tiburon,age_ok
0,2018,usa,Paddling,57,White shark,Jun,N,F,White shark,57
1,2018,brazil,Swimming,18,Tiger shark,Jun,Y,M,Tiger shark,18
2,2018,usa,Walking,15,"Bull shark, 6'",May,N,M,Bull shark,15
3,2018,australia,Feeding sharks,32,Grey reef shark,May,N,M,Grey shark,32
4,2018,england,Fishing,21,Invalid incident,May,N,M,Unspecified,21

In [80]:
df[df["age"] == '13 or 14']

,year,country,activity,age,species_,mes,fatal,sex,especie tiburon,age_ok
1635,0,iraq,Swimming,13 or 14,Bull shark,NaN,Y,M,Bull shark,13

La columna age en algunos casos nos especifica un rango de edades, por lo que en la funci√≥n edades, en el return le ponemos [0] es para que nos devuelva la posici√≥n 0 de nuestra lista.

In [82]:
df["age_ok"].dtype

dtype('O')

In [84]:
df["age_ok"] = df["age_ok"].astype('Int64', errors = 'raise')

In [85]:
df["age_ok"].dtype

Int64Dtype()

3. Guarda el csv con las columnas limpias para seguir trabajando con este dataframe limpio.
Happy coding ü¶à

In [81]:
df.to_csv("limpieza2.csv")