# Pair Programming 
## Lecci√≥n 13 - Limpieza IV - Valores Nulos
‚Äã
En este caso trabajaremos con el dataframe que limpiamos en el ejercicio de pair de Limpieza anterior, el de Limpieza III, donde limpiabamos las columnas de species, age, etc. y eliminabamos los outliers.

Antes de seguir, recordamos las preguntas que nos planteamos al principio del pair programming de EDA para dirigir nuestro an√°lisis.

- ¬øEs Australia es el sitio m√°s peligroso y letal para estar relajada en la playa?
- ¬øCu√°l es el rango de edad que sufre la mayor√≠a de los ataques?
- Independientemente de la edad, sufren los hombres m√°s ataques que las mujeres?
- ¬øEn qu√© mes ocurren m√°s ataques?
- ¬øCu√°l es la relaci√≥n entre la especie y el tipo de ataque (si es fatal o no)?
- ¬øC√≥mo han evolucionado los ataques a lo largo del tiempo?

De todo esto, nos damos cuenta que solo tenemos que limpiar algunas de las columnas, en concreto age, species, country, fatal, year, sex. Si reducimos esto a una tabla para saber que tenemos ya limpito y que no. **Actualizamos esta tabla ya que en el ejercicio de pair de Limpieza I ya dejamos algunas columnas limpitas:

variable    ¬øEst√° limpia?

age         ‚úîÔ∏è esta en formato string cuando deber√≠a ser integer y en algunos casos tenemos rangos de edad

species     ‚úîÔ∏è es un jaleo! Debemos unificar los nombres y reducir a las especies m√°s importantes

country     ‚úîÔ∏è los paises est√°n en may√∫sculas, algunos se repiten con algunos cambios

fatal       ‚úîÔ∏è la limpiamos en el pair de Pandas V

year        ‚úîÔ∏è es una columna de tipo float deber√≠amos convertirla a integer

sex         ‚úîÔ∏è la limpiamos en el pair de Pandas V

fecha       ‚úîÔ∏è la limpiamos en el pair de Pandas V

Es el momento de ponernos a trabajar con los valores nulos üí™üèΩ. A lo largo de este ejercicio de pair programming vamos a intentar eliminar los valores nulos de nuestras columnas. En la lecci√≥n hemos aprendido varios m√©todos, nosotras os planteamos los ejercicios pero sentiros libres de usar el m√©todo que m√°s se adapte a vuestras necesidades. Manos a la obra!

In [ ]:
import pandas as pd

1. Lo primero que tenemos que evaluar es en que columnas tenemos nulos y que cantidad tenemos en cada una. ¬øHay alguna columna con una gran cantidad de nulos? En caso de que sea as√≠ deberemos eliminarla.

2. Es el momento de eliminar los nulos:
- Reemplazad los valores nulos de la columna age por la media de la edad, redondeada a dos decimales.

- En relaci√≥n a la columna de country al tratarse de una columna de tipo categ√≥rica, reemplazad los valores nulos por una nueva categor√≠a que se llame Unknown.

- Reemplazad los valores nulos de la columna fatal por Unknown.

- Reemplazad los valores nulos de la columna type por el valor m√°s frecuente (la moda).

- Reemplazad los valores nulos de la columna fecha por Unknown.

3. Guardad el csv para seguir trabajando con el en los siguientes ejercicios de pair.

Happy coding ü¶à